// Colors

$black: #212529;
$white: #ffffff;
$brown: #D4A373;
$border-color: #E5E5E5;
$header-bg: rgba(0, 0, 0, 0.2);
$content-color: #495057;
$content-light: #6C757D;
$footer-color: #E5E5E5;
$footer-after: #343A40;

// Media

$breakpoint500: 500px;
$breakpoint575: 575px;
$breakpoint767: 767px;
$breakpoint991: 991px;
$breakpoint1300: 1300px;
$breakpoint1320: 1320px;
$breakpoint1400: 1400px;