@import "../css/base/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&family=Lora:wght@400;700&family=Roboto:wght@300;700&display=swap');
@import "base/variables.scss";
@import "common.scss";
.login-page{
    display: flex;
    max-width: 1440px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    h3{
        font: 700 40px/44px 'League Spartan', sans-serif;
        text-transform: uppercase;
        padding-top: 52px;
    }
    &__logo{
        padding-top: 97px;
    }
    &__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        padding: 112px 0 27px;
    }
    &__img-block{
        // background: url(img/login-page_bg.jpg) top left no-repeat;
        width: 50%;
        height: auto;
        img{
            max-width: 100%;
        }
    }
    &__login-form{
        width: 100%;
        max-width: 433px;
        padding-left: 150px;
    }
    &__button{
        padding: 3px 0 17px;
    }
    &__change-form{
        padding: 13px 0 100px;
        span{
            padding-left: 8px;
            a{
                color: $brown;
            }
        }
    }
    &__remember-block{
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        a{
            color: $brown;
        }
    }
    &__remember-me{
        label{
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media (max-width:$breakpoint1300) {
        &__logo{
            padding-top: 60px;
        }
        &__title{
            padding: 60px 0 27px;
        }
        &__login-form{
            max-width: 400px;
            padding-left: 50px;
        }
    }

    @media (max-width:$breakpoint991) {
        &__img-block{
            display: none;
        }
        &__login-form{
            padding-left: 90px;
        }
    }

    @media (max-width:$breakpoint767) {
        margin-top: 20px;
        &__login-form{
            padding: 0 20px;
            margin: 0 auto; 
        }
    }

    @media (max-width:$breakpoint575) {
        margin-top: 0;
        &__title{
            font-size: 30px;
            line-height: 34px;
            padding: 40px 0 27px;
        }
    }

}