.article-table{
    padding-top: 25px;
    table{
        width: 100%;
        tr{
            td:first-child{
                width: 39px;
                padding-left: 17px;
            }
            td:nth-child(2){
                width: 67px;
                img{
                    max-width: 48px;
                }
            }
            td:nth-child(3){
                max-width: 170px;
                padding-right: 20px;
            }
            td:last-child{
                width: 88px;
            }
        }
        td{
            padding: 16px 0 15px;
            border-bottom: 1px solid #E5E5E5;
        }
    }
    thead{
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #6C757D;
        td{
            white-space: nowrap;
            padding-top: 0 !important;
            padding-bottom: 9px !important;
        }
    }
    &__actions{
        display: flex;
        justify-content: space-between;
        // div:last-child{
        //     padding-right: 20px;
        // }
        a{
            background: url(../img/admin-panel/edit.svg) top left no-repeat;
            width: 25px;
            height: 25px;
            &:last-child{
                background: url(../img/admin-panel/trash.svg) top left no-repeat;
                padding-right: 20px;
            }
        }
    }

    @media (max-width:991px) {
        table{
            tr{
                td:last-child{
                    width: 80px;
                }  
            }
        }
    }

    @media (max-width:767px) {
        table{
            width: 767px;
            overflow-x: scroll;
        }
    }

}