.section-txt {
  padding-bottom: 94px;
}
.section-txt__date-created {
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #C4C4C4;
  padding: 28px 0 41px;
}
.section-txt__about {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.section-txt__about-author {
  display: flex;
}
.section-txt__about-author div {
  padding-top: 4px;
  padding-left: 16px;
}
.section-txt__about-author img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.section-txt__about-author p {
  font-size: 12px;
  line-height: 20px;
  color: #6C757D;
  margin: 0;
}
.section-txt__about-author p:first-child {
  font-weight: 700;
  color: #495057;
}
.section-txt__about-social ul {
  display: flex;
}
.section-txt__about-social ul li {
  padding-left: 10px;
}