.news-mini {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 5px;
  padding-bottom: 50px;
}
.news-mini a {
  padding-bottom: 0;
}
.news-mini__img a {
  padding-bottom: 0;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.news-mini__img a:hover {
  border-bottom: none;
  filter: brightness(70%);
  transform: scale(1);
}
.news-mini__img img {
  border-radius: 5px;
  max-width: 310px;
}
.news-mini__date {
  font-size: 12px;
  line-height: 15px;
  color: #6C757D;
  padding-top: 10px;
}
.news-mini h4 {
  font: 700 18px/25px "Lora";
  margin: 15px 0 0;
}
.news-mini h5 {
  font: 400 12px/20px "Lora";
  color: #6C757D;
  margin: 14px 0 51px;
}
@media (max-width: 1320px) {
  .news-mini {
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
  }
  .news-mini__img img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .news-mini {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
}
@media (max-width: 575px) {
  .news-mini {
    grid-template-columns: 100%;
  }
}