// Colors

$black: #212529;
$white: #ffffff;
$brown: #D4A373;
$border-color: #E5E5E5;
$border-txt: #C4C4C4;
$header-bg: rgba(0, 0, 0, 0.2);
$content-color: #495057;
$content-light: #6C757D;
$content-bg: #F8F9FA;
$footer-color: #E5E5E5;
$footer-after: #343A40;
$gray-bg: rgba(229, 229, 229, 0.3);
$post-white: #E5E5E5;

// Media

$breakpoint500: 500px;
$breakpoint575: 575px;
$breakpoint767: 767px;
$breakpoint991: 991px;
$breakpoint992: 992px;
$breakpoint1300: 1300px;
$breakpoint1320: 1320px;
$breakpoint1400: 1400px;