@import "../css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&family=Lora:wght@400;700&family=Roboto:wght@300;700&display=swap");
.admin-panel {
  font: 400 16px/24px "Roboto";
  color: #495057;
}
.admin-panel__header {
  background: #ffffff;
  border-bottom: 1px solid #E5E5E5;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.admin-panel__header .admin-panel__container {
  display: flex;
  justify-content: space-between;
}
.admin-panel__container {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.admin-panel__logo {
  padding: 28px 40px 26px 0;
}
.admin-panel__top-menu ul {
  display: flex;
}
.admin-panel__top-menu ul li {
  list-style-type: none;
  padding: 6px 13px 0 18px;
}
.admin-panel__top-menu ul li a {
  font: 700 14px/20px "Lora";
  color: #212529;
  text-decoration: none;
  padding-bottom: 5px;
}
.admin-panel__top-menu ul li a:hover {
  border-bottom: 2px solid #D4A373;
}
.admin-panel__top-menu ul li a.active {
  border-bottom: 2px solid #D4A373;
}
.admin-panel__top-menu ul li a.active:hover {
  border-bottom: none;
}
.admin-panel__breadcrumb {
  padding-top: 103px;
}
.admin-panel__breadcrumb ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.admin-panel__breadcrumb ul li {
  font-size: 14px;
  line-height: 16px;
  color: #D4A373;
  list-style-type: none;
  padding-right: 20px;
}
.admin-panel__breadcrumb ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #D4A373;
  text-decoration: none;
}
.admin-panel__breadcrumb ul li a:hover {
  text-decoration: underline;
}
.admin-panel__title {
  font: 700 24px/28px "Roboto";
  color: #212529;
  padding-top: 8px;
}
.admin-panel__nav {
  display: flex;
  justify-content: space-between;
}
.admin-panel button {
  width: 158px;
  height: 40px;
}
.admin-panel__button {
  padding-top: 22px;
}
.admin-panel__search {
  padding-top: 23px;
}
.admin-panel__search form {
  position: relative;
}
.admin-panel__search form input {
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  width: 307px;
  padding-left: 45px;
  margin: 0;
}
.admin-panel__search form button {
  background: url(../img/admin-panel/search.svg) top left no-repeat;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 25px;
  height: 25px;
}
@media (max-width: 1400px) {
  .admin-panel__container {
    width: 95%;
  }
}
@media (max-width: 991px) {
  .admin-panel {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 500px) {
  .admin-panel__search {
    width: 100%;
    padding-top: 23px;
    padding-right: 10px;
  }
  .admin-panel__search form input {
    width: 100%;
  }
  .admin-panel__button button {
    width: 100px;
  }
  .admin-panel__button button span {
    display: none;
  }
}