@import "../css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&family=Lora:wght@400;700&family=Roboto:wght@300;700&display=swap");
body {
  font: 400 16px/24px "Lora", serif;
  color: #212529;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  margin: 9px 0 20px;
}

input.checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

button {
  background: #D4A373;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  width: 100%;
  height: 48px;
}
button:hover {
  background: #b98f64;
  transition-duration: 0.5s;
}

.button-black {
  background: #343A40;
}
.button-black:hover {
  background: #212529;
  transition-duration: 0.5s;
}

label {
  font-size: 14px;
  line-height: 20px;
}

address {
  font-style: normal;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  color: #495057;
}
@media (1320px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media (767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.container a {
  font-weight: 700;
  color: #495057;
  text-decoration: none;
  padding-bottom: 5px;
}
.container a:hover {
  border-bottom: 2px solid #D4A373;
}

.container-title {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 30px;
}
.container-title .title {
  font: 700 36px/46px "Lora";
}
.container-title .title-link {
  padding-top: 28px;
}
.container-title a {
  font-size: 12px;
  line-height: 25px;
}

.header {
  font: 400 16px/24px "Roboto";
  color: #495057;
}
.header__header {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header__header .header__container {
  display: flex;
  justify-content: space-between;
}
.header__container {
  width: 100%;
  max-width: 1324px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  padding: 28px 40px 26px 0;
}
.header__top-menu ul {
  display: flex;
}
.header__top-menu ul li {
  list-style-type: none;
  padding: 6px 13px 0 18px;
}
.header__top-menu ul li a {
  font: 700 12px/14px "Roboto";
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 5px;
}
.header__top-menu ul li a:hover {
  border-bottom: 2px solid #D4A373;
}
.header__top-menu ul li a:active {
  border-bottom: 2px solid #D4A373;
}
.header__top-menu ul li a:active:hover {
  border-bottom: none;
}
@media (1400px) {
  .header__container {
    width: 95%;
  }
}
@media (991px) {
  .header {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer {
  background: #212529;
}
.footer .container {
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
  display: flex;
  justify-content: space-between;
}
.footer .container a {
  color: #E5E5E5;
  font-weight: 400;
}
.footer__block {
  width: 24%;
}
.footer__block ul {
  padding-bottom: 80px;
}
.footer__block ul li {
  padding-bottom: 13px;
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 104px 0 1px;
}
.footer__text {
  padding-top: 13px;
}
.footer__social ul {
  display: flex;
}
.footer__social ul li {
  padding-right: 18px;
}
@media (767px) {
  .footer .container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__title {
    padding-top: 0;
  }
  .footer__block {
    width: 100%;
  }
  .footer__block ul {
    padding-bottom: 0px;
  }
  .footer__block ul li {
    padding-bottom: 5px;
  }
  .footer__social ul li {
    padding-right: 8px;
  }
}

.footer-after {
  padding-top: 31px;
  padding-bottom: 31px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background: #343A40;
}
.footer-after .container {
  max-width: 1324px;
}

.blog-mini {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 5px;
}
.blog-mini a {
  padding-bottom: 0;
}
.blog-mini__img a {
  padding-bottom: 0;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.blog-mini__img a:hover {
  border-bottom: none;
  filter: brightness(70%);
  transform: scale(1);
}
.blog-mini__img img {
  border-radius: 5px;
  max-width: 310px;
}
.blog-mini__date {
  font-size: 12px;
  line-height: 15px;
  color: #6C757D;
  padding-top: 10px;
}
.blog-mini h4 {
  font: 700 18px/25px "Lora";
  margin: 15px 0 0;
}
.blog-mini h5 {
  font: 400 12px/20px "Lora";
  color: #6C757D;
  margin: 14px 0 51px;
}
@media (max-width: 1320px) {
  .blog-mini {
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
  }
  .blog-mini__img img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .blog-mini {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
}
@media (max-width: 575px) {
  .blog-mini {
    grid-template-columns: 100%;
  }
}

.section-banner {
  background: url(../img/content/banner-top.jpg) top center no-repeat;
  background-size: cover;
}
.section-banner.banner-footer {
  background: url(../img/content/banner-footer.jpg) top center no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.section-banner.banner-footer .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-banner .container {
  max-width: 1280px;
  height: 600px;
  display: flex;
  align-items: center;
}
.section-banner h1, .section-banner h2 {
  font: 700 36px/46px "Lora";
  color: #ffffff;
  max-width: 530px;
  margin: 0;
}
.section-banner h2 {
  text-align: center;
}
.section-banner h3 {
  font: 400 12px/20px "Lora";
  color: #ffffff;
  max-width: 420px;
  text-align: center;
}
@media (max-width: 575px) {
  .section-banner h1, .section-banner h2 {
    font-size: 30px;
    line-height: 38px;
  }
}